.approval {
  background-color: var(--ion-background-color2);
}

.approval ion-content {
  /* --padding-top: 12px; */
  --padding-bottom: 12px;
  --padding-start: 22px;
  --padding-end: 22px;
  --background: var(--ion-background-color2);
}

.approval ion-toolbar {
  --background: var(--ion-background-color) !important;
}

.loading-indicator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* IonRefresher Material Design 스타일 강제 적용 */
.approval ion-refresher {
  --background: var(--ion-background-color);
}

.approval ion-refresher-content {
  --background: var(--ion-background-color);
}

/* Material Design 스타일의 리프레셔 강제 적용 */
.approval .refresher-pulling-icon,
.approval .refresher-refreshing-icon {
  color: var(--ion-color-primary);
}

.approval .select-all-button {
  width: 50%;
}

.approval .scroll-top-button {
  --background: #000116c8;
  --background-activated: rgba(25, 25, 36, 0.884);
  --border-radius: 24px;
  font-weight: 600;
}