ion-button.upload-button.button-disabled:not([fill="clear"]):not([fill="outline"])>*:not(.loader) {
  opacity: .3;
}

ion-popover.full-width-popover.select-popover {
  --width: calc(100% - 42px);
  --offset-x: 21px;
}

ion-popover.full-width-popover::part(content) {
  left: var(--offset-x) !important;
}

.custom-ion-select::part(icon) {
  position: absolute;
  right: 4px;
}