.detail .app-bar ion-toolbar {
  --background: transparent;
}

.detail .grap-indicator-wrapper {
  position: absolute;
  height: 28px;
  pointer-events: none;
  background-color: var(--ion-background-color);
  bottom: 0px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .segment {
  will-change: transform;
  transform: translateZ(0);
  position: absolute;
  bottom: -48px;
  background-color: var(--ion-background-color);
  pointer-events: all;
}

