.detail ion-content {
  --background: var(--ion-background-color2);
}

.detail .app-bar ion-toolbar {
  /* --background: transparent; */
  --background: var(--ion-background-color2);
}

.detail .grap-indicator-wrapper {
  position: absolute;
  height: 28px;
  pointer-events: none;
  background-color: var(--ion-background-color);
  bottom: 48px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .segment {
  background-color: var(--ion-background-color);
  pointer-events: all;
  border-bottom: 1px solid var(--custom-border-color-50);
}

.detail ion-segment-button {
  --indicator-color: var(--ion-text-color);
  --ion-color-base: var(--ion-text-color);
}

.detail ion-segment-button .detail-segment-label>span:first-child {
  font-size: 14px;
  color: var(--ion-color-step-450);
  font-weight: 600;
}

.detail ion-segment-button .detail-segment-label>span:last-child {
  font-size: 14px;
  color: var(--ion-color-step-450);
  font-weight: 500;
}

.detail ion-segment-button.segment-button-checked .detail-segment-label>span:first-child {
  font-size: 14px;
  color: var(--ion-text-color);
  font-weight: 600;
}

.detail ion-segment-button.segment-button-checked .detail-segment-label>span:last-child {
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-weight: 500;
}

.profit-dialog-line {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.profit-dialog-line>span:first-child {
  color: var(--ion-color-secondary);
}

.profit-dialog-line>span:last-child {
  width: 70%;
  text-align: end;
}

.swiper-wrapper {
  /* min-height: calc(100dvh - 124px - var(--ion-safe-area-top)); */
}