.detail ion-content {
  --background: var(--ion-background-color2);
}

.detail .app-bar ion-toolbar {
  /* --background: transparent; */
  --background: var(--ion-background-color2);
}

.grab-indicator {
  position: relative;
  height: 28px;
  background-color: var(--ion-background-color2);
}

.grab-indicator::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 28px;
  left: 0;
  top: 0;
  background-color: var(--ion-background-color);
  border-radius: 20px 20px 0 0;
  box-shadow: var(--approval-text-box-shadow);
}

.grab-indicator.no-shadow::before {
  box-shadow: none;
}

.grab-indicator::after {
  content: '';
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: var(--gray-color);
  top: 12px;
  left: calc(50% - 24px);
  border-radius: 4px;
}

.detail .segment {
  background-color: var(--ion-background-color);
  pointer-events: all;
  border-bottom: 1px solid var(--custom-border-color-50);
}

.detail ion-segment-button {
  --indicator-color: var(--ion-text-color);
  --ion-color-base: var(--ion-text-color);
}

.detail ion-segment-button .detail-segment-label>span:first-child {
  font-size: 14px;
  color: var(--ion-color-step-450);
  font-weight: 600;
}

.detail ion-segment-button .detail-segment-label>span:last-child {
  font-size: 14px;
  color: var(--ion-color-step-450);
  font-weight: 500;
}

.detail ion-segment-button.segment-button-checked .detail-segment-label>span:first-child {
  font-size: 14px;
  color: var(--ion-text-color);
  font-weight: 600;
}

.detail ion-segment-button.segment-button-checked .detail-segment-label>span:last-child {
  font-size: 14px;
  color: var(--ion-color-secondary);
  font-weight: 500;
}

.profit-dialog-line {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.profit-dialog-line>span:first-child {
  color: var(--ion-color-secondary);
}

.profit-dialog-line>span:last-child {
  width: 70%;
  text-align: end;
}

.swiper-wrapper {
  /* min-height: calc(100dvh - 124px - var(--ion-safe-area-top)); */
}