.flow-list ion-content {
  --padding-top: 0px;
  --padding-bottom: calc(var(--ion-safe-area-bottom) + 12px);
  --padding-start: 22px;
  --padding-end: 22px;
}

.flow-list-item {
  border-radius: 12px;
  --min-height: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.flow-list-item>span {
  flex: 1;
  font-size: 15px;
  font-weight: 600;
  padding-left: 12px;
}

.flow-list-item-icon {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-list-item-icon>ion-img {
  width: 32px;
}