.home {
  background: var(--ion-background-color2);
}

.home .app-bar ion-toolbar {
  --background: var(--ion-background-color2);
}

.home ion-content {
  --padding-top: 0px;
  --padding-bottom: 12px;
  --padding-start: 21px;
  --padding-end: 21px;
  --background: var(--ion-background-color2);
}

.home-card {
  box-shadow: none;
  border-radius: 16px;
  margin: 0;
  padding: 12px 21px;
}

.notice-card-content {
  display: flex;
  align-items: center;
}

.notice-card-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-primary);
  height: 24px;
  width: 55px;
  border-radius: 16px;
}

.notice-card-badge>span {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
}

.notice-card-notice {
  padding: 0 8px;
  flex: 1;
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: #898D99;
}

.welcome-card-content {
  height: 48px;
  display: flex;
  align-items: center;
}

.welcome-card-name {
  padding-left: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.welcome-card-name>span:first-child {
  color: var(--ion-text-color);
  font-size: 16px;
  font-weight: 700;
}

.welcome-card-name>span:last-child {
  color: #898D99;
  font-size: 12px;
  font-weight: 500;
}

.welcome-card-button {
  --background: var(--ion-background-color2);
  --color: var(--icon-color-secondary);
  --box-shadow: none;
  --border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.home-card.menu-card {
  padding-bottom: 8px;
}

ion-item.menu-ion-item {
  border-radius: 12px;
  --min-height : 52px;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-expand-button {
  height: 42px;
  margin: 8px 0 0 0;
  border-top: 1px solid var(--custom-border-color-50);
  padding-top: 8px;
  width: 100%;
}

.menu-expand-button span {
  color: var(--ion-color-secondary);
  font-size: 14px;
  font-weight: 500;
}

.menu-expand-button ion-icon {
  color: var(--ion-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.menu-item-content>span {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 12px;
}

.menu-item-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.menu-item-icon>ion-img {
  width: 28px;
  height: 28px;
}

.menu-item-count {
  color: var(--ion-color-secondary);
  font-size: 13px;
  font-weight: 500;
}

.home-card.todo-summary-card {
  padding-bottom: 8px;
}

.todo-summary-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
}

.todo-summary-title>ion-img {
  width: 28px;
}

.todo-summary-title>span {
  font-size: 16px;
  font-weight: 600;
  color: var(--ion-text-color);
}

.todo-summary-item-skeleton {
  display: flex;
  height: 50px;
  align-items: center;
}

.todo-summary-item-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
}

.todo-summary-ion-item {
  --height: 50px;
  --min-height: 50px;
  border-radius: 12px;
}

.todo-summary-index {
  margin-left: 4px;
  color: var(--ion-color-primary);
  font-size: 13px;
  font-weight: 600;
}

.todo-summary-content {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: space-between;
}

.todo-summary-item-title {
  font-size: 13px;
  font-weight: 500;
}

.todo-summary-item-sub-wrapper {
  margin-top: 2px;
  display: flex;
}

.todo-summary-item-sub-wrapper > span {
  color: var(--ion-color-secondary);
  font-size: 11px;
  font-weight: 400;
}

.todo-summary-item-sub-wrapper > span:last-child {
  margin-left: 2px;
}


.todo-summary-item-sub-wrapper > ion-icon {
  /* margin-left: 2px; */
  color: var(--ion-color-secondary);
  opacity: .28;
  font-size: 12px;
}

.todo-summary-no-data  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 8px;
}

.todo-summary-no-data > ion-img{
  width:  100px;
}

.todo-summary-no-data > span{
  color: var(--ion-color-secondary);
}