.settings {
  background: var(--ion-background-color2);
}

.settings .app-bar ion-toolbar {
  --background: var(--ion-background-color2);
}

.settings ion-content {
  --padding-top: 0px;
  --padding-bottom: 12px;
  --padding-start: 21px;
  --padding-end: 21px;
  --background: var(--ion-background-color2);
}

.settings-card {
  box-shadow: none;
  border-radius: 16px;
  margin: 0;
  padding: 18px 11px;
}

.settings-card-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--ion-text-color);
  padding: 14px 10px;
  display: block;
}

.settings-card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 10px;
  color: var(--ion-color-step-700);
  height: 58px;
}

ion-item.settings-logout-button {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--ion-color-step-700);
  --padding-top: 21px;
  --padding-bottom: 21px;
  --padding-start: 21px;
  --padding-end: 21px;
  --border-radius: 16px;
}

ion-item.settings-logout-button::part(native) {
  transition: none;
}