.app-bar ion-icon {
  width: 24px;
  height: 24px;
}

.app-bar ion-buttons > ion-button:last-child {
  margin-right: 8px;
}

.app-bar ion-back-button {
  margin-left: 12px;
  height: 44px;
  width: 44px;
}

.app-bar ion-toolbar:last-of-type  {
  --min-height: 48px;
  --border-width: 0px !important;
}

.app-bar-button {
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-bar-button ion-icon {
  color: rgba(100, 109, 123, .48);
}

.app-bar-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.app-bar-sub-title {
  font-size: 14px;
  color: var(--ion-color-secondary);
}