.bottom-navigation-wrapper {
  padding-bottom: var(--ion-safe-area-bottom) !important;
  background-color: var(--ion-background-color) !important;
  box-shadow: none !important;
}

.bottom-navigation {
  border-top: .55px solid var(--custom-border-color-100);
  position: 'fixed';
  bottom: 0;
  width: '100%';
  height: 56px;
}

.MuiBottomNavigation-root {
  background-color: var(--ion-background-color) !important;
  box-shadow: none !important;
}

.MuiBottomNavigationAction-root>* {
  color: var( --ion-color-step-500);
}

.MuiBottomNavigationAction-root.Mui-selected >*{
  color: var(--ion-text-color) !important;
}

.MuiBottomNavigationAction-label {
  padding-top: 2px;
  font-size: 11px !important;
}

.css-1enwswh-MuiBadge-badge {
  background-color: #f65353 !important;
}