.custom-item {
  background-color: var(--ion-background-color);
  border-radius: 12px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.custom-item-wrapper {
  width: 100%;
}

/* 체크박스 선택 시 스타일 */
.custom-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.custom-item-header {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 16px 20px 12px 20px;
  min-height: 48px;
}

.custom-item-header-icon {
  color: var(--ion-color-secondary);
}

.custom-item-header>ion-checkbox {
  flex: 0;
}

.custom-item-header-content-area {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-item-body {
  padding: 16px 20px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.custom-item-body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  width: calc(100% - 40px);
  border-bottom: 1px solid var(--custom-border-color-50);
}

/* 리플 효과를 둥글게 만들기 */
.custom-item-header-content-area ion-ripple-effect,
.custom-item-body ion-ripple-effect {
  border-radius: 12px;
}

.custom-item-title {
  display: flex;
  flex-direction: column;
}

.custom-item-title>span {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.custom-item-sub-title {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.custom-item-sub-title>ion-icon {
  width: 11px;
  margin-right: 2px;
  color: rgba(var(--ion-text-color-rgb), 0.28);
}

.custom-item-sub-title>span {
  font-size: 11px;
  color: var(--ion-color-secondary);
}

.custom-item-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-item-body-line {
  display: flex;
  justify-content: space-between;
}

.custom-item-body-line>span:first-child {
  font-size: 13px;
  font-weight: 500;
  color: var(--ion-color-secondary);
}

.custom-item-body-line>span:last-child {
  font-size: 13px;
  font-weight: 500;
  color: rgba(var(--ion-text-color-rgb), 0.6);
}