.custom-item {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-top: 0;
  --inner-padding-bottom: 0;
  --inner-border-width: 0;
  position: relative;
  background-color: var(--ion-background-color);
  border-radius: 12px;
  transform: scale(1);
  transition: box-shadow 0.3s ease-out, background-color 0.15s ease-out, scale 0.15s ease-out;
}

.custom-item-wrapper {
  width: 100%;
}

/* 체크박스 선택 시 스타일 - 홀로그래픽 효과 */
.custom-item.selected {
  /* transform: scale(1.05); */
  box-shadow: 0 0 5px rgba(var(--ion-color-primary-rgb), 0.3);
  --background: rgba(var(--ion-color-primary-rgb), 0.05);
  transition: all 0.1s ease;
  position: relative;
  overflow: hidden;
}

.custom-item-header {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 16px 20px 12px 20px;
  min-height: 48px;
}

.custom-item-header-icon {
  color: var(--ion-color-secondary);
}

.custom-item-header>ion-checkbox {
  flex: 0;
}

.custom-item-header-content-area {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-item-body {
  padding: 16px 20px;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.custom-item-body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  width: calc(100% - 40px);
  border-bottom: 1px solid var(--custom-border-color-50);
}

/* 리플 효과를 둥글게 만들기 */
.custom-item-header-content-area ion-ripple-effect,
.custom-item-body ion-ripple-effect {
  border-radius: 12px;
}

.custom-item-title {
  display: flex;
  flex-direction: column;
}

.custom-item-title>span {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-item-sub-title {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.custom-item-sub-title>ion-icon {
  width: 11px;
  margin-right: 2px;
  color: rgba(var(--ion-text-color-rgb), 0.28);
}

.custom-item-sub-title>span {
  font-size: 11px;
  color: var(--ion-color-secondary);
}

.custom-item-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-item-body-line {
  display: flex;
  justify-content: space-between;
}

.custom-item-body-line >span:first-child {
  font-size: 12px;
  font-weight: 500;
  color: var(--ion-color-secondary);
}

.custom-item-body-line >span:last-child {
  font-size: 12px;
  font-weight: 500;
  color: rgba(var(--ion-text-color-rgb), 0.6);
}