.loader {
  --loader-color: var(--ion-color-primary);
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--loader-color) 94%, #0000) top/1.24px 1.24px no-repeat,
    conic-gradient(#0000 20%, var(--loader-color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 1.25px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13{ 
  100%{transform: rotate(1turn)}
}