#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 웹앱 전체 패딩 적용 */
ion-header {
  padding-top: var(--webview-padding-top);
}

ion-app {
  height: calc(100vh - var(--webview-padding-bottom)) !important;
  margin-bottom: var(--webview-padding-bottom) !important;
}

/* 스크롤 관련 */
ion-content {
  --offset-bottom: 1px !important;
  --offset-top: 0px;
}

ion-content::part(scroll) {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

/* TabBar 관련 */
ion-tab-bar {
  --border: 1px solid var(--custom-border-color-50);
}

/* Ripple 잔상 관련 */
@media (hover: hover) and (pointer: fine) {
  * {
    --background-hover: transparent;
  }
}

/* Popover 관련 */
ion-popover {
  --width: 300px;
}

/* DateTime 관련 */
ion-datetime {
  --background: var(--ion-background-color);
}

/* 버튼 누르면 바로 먹히게 */
button {
  touch-action: manipulation;
}