body {
  position: relative;
  overflow: auto;
}

#root {
  position: relative;
  overflow: auto;
  height: 100%;
}

/* 스크롤 관련 */
ion-content {
  --offset-bottom: 1px;
  --offset-top: 0px;
  --keyboard-offset: 0 !important;
}

ion-content::part(scroll) {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

ion-modal ion-content::part(scroll) {
  overscroll-behavior: none;
}

ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  touch-action: manipulation;
}

*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background: transparent !important;
}

*::-webkit-scrollbar-corner {
  background: transparent !important;
}

/* TabBar 관련 */
ion-tab-bar {
  --border: 1px solid var(--custom-border-color-50);
}

html.ios ion-modal ion-toolbar,
html.ios .modal-footer-moving ion-toolbar {
  padding-right: 0;
  padding-left: 0;
}

/* Popover 관련 */
ion-popover {
  --width: 300px;
  --backdrop-opacity: .5;
}

/* DateTime 관련 */
ion-datetime {
  --background: var(--ion-background-color);
}

/* input placeholoder 관련 */
::-webkit-input-placeholder {
  font-size: 15px;
}

::-moz-placeholder {
  font-size: 15px;
}

:-ms-input-placeholder {
  font-size: 15px;
}

:-moz-placeholder {
  font-size: 15px;
}

/* checkbox 관련 */
ion-checkbox {
  --size: 20px;
  height: 20px;
  /* 레이어 생성 방지 */
  contain: layout style;
  position: relative;
  z-index: auto;
  transform: none;
  will-change: auto;
  --checkbox-background: transparent;
}

ion-checkbox::part(container) {
  border-radius: 8px;
  border: 1px solid var(--gray-color);
  background-image: var(--check-icon);
  background-repeat: no-repeat;
  background-position: center;
}

ion-checkbox.checkbox-checked::part(container) {
  border: none;
}

ion-checkbox::part(mark) {
  translate: 2px 2px !important;
  transform: scale(.78) !important;
}

/* 기본 스타일 빼기 */
ion-content {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
}

ion-toolbar {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --min-height: 0px;
}

ion-item {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --min-height: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-border-width: 0px;
  --background-hover: transparent;
  --background-hover-opacity: 0;
}

ion-segment-button {
  --background-hover: transparent;
  --background-hover-opacity: 0;
}

.segment-button-checked {
  color: #fff !important;
}

ion-button {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 0px;
  /* --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px; */
  --border-radius: 12px;
  --box-shadow: none;
  --background-hover: transparent;
  --background-hover-opacity: 0;
}

ion-button::part(native) {
  transition: .1s;
}

/* 기본 버튼 - light와 dark 테마에서 동일한 색상 (fill이 solid일 때만) */
ion-button[color="primary"]:not([fill="clear"]):not([fill="outline"]) {
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
}


ion-button[color="primary"]:not([fill="clear"]):not([fill="outline"]) * {
  color: #fff;
}


/* light 버튼 - 테마별로 다른 색상 (fill이 solid일 때만) */
ion-button[color="light"]:not([fill="clear"]):not([fill="outline"]) {
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-light-shade);
}

ion-button[color="light"]:not([fill="clear"]):not([fill="outline"]) * {
  color: var(--ion-text-color);
}

/* disabled */
ion-button.button-disabled:not([fill="clear"]):not([fill="outline"]),
ion-button.button-disabled:not([fill="clear"]):not([fill="outline"]) {
  --ion-color-base: var(--disabled-bg-color) !important;
  --ion-color-contrast: var(--disabled-fg-color) !important;
  opacity: 1;
}

ion-button.button-disabled:not([fill="clear"]):not([fill="outline"]) *,
ion-button.button-disabled:not([fill="clear"]):not([fill="outline"]) * {
  color: var(--disabled-fg-color);
}

.sc-ion-buttons-ios-s ion-button {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ion-title {
  padding-inline-start: '48px';
  padding-inline-end: '0';
}

/* refresh indicator */
ion-refresher.refresher-native .refresher-pulling-icon,
ion-refresher.refresher-native .refresher-refreshing-icon {
  background-color: var(--grab-indicator-color) !important;
  border-color: var(--custom-border-color-50) !important;
}

ion-menu-button.ion-color-medium {
  --ion-color-base: rgba(100, 109, 123, .48) !important;
}

/* Ion Modal auto Height */
ion-modal.auto-height {
  --height: auto;
  align-items: end;
}

ion-modal.auto-height::part(content) {
  position: relative;
  display: block;
  contain: content;
}

ion-modal.auto-height .ion-page {
  overflow: visible;
}

ion-modal.auto-height .inner-content {
  max-height: 30vh;
  overflow: auto;
  touch-action: none;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  position: fixed;
  width: 100% !important;
  background-color: var(--ion-background-color);
  padding: 12px 0 calc(var(--ion-safe-area-bottom) + 24px) 0;
}

.no-ripple {
  --ripple-color: transparent;
}

.no-ripple ion-ripple-effect {
  display: none !important;
}

.no-ripple ion-back-button {
  --ripple-color: transparent;
}

ion-input {
  /* --border-radius: 12px !important; */
}

ion-input.input-disabled {
  pointer-events: none;
}

ion-select {
  border-bottom: 1px solid var(--input-color);
}

ion-select::part(label) {
  color: var(--ion-color-step-700);
  font-weight: 500;
  font-size: 15px;
}

ion-select.custom-ion-select::part(label) {
  font-size: 14px;
}

.input-wrapper.sc-ion-input-md {
  border-bottom: 1px solid var(--input-color);
}

.label-text-wrapper.sc-ion-input-md {
  min-width: 25%;
}

.input-disabled.sc-ion-input-md-h {
  opacity: 0.5;
}

.input-bottom.sc-ion-input-md {
  border-top: none;
}

.sc-ion-input-md-s>[slot=end]:first-of-type {
  margin-inline-start: 0;
}

.input-label-placement-floating.sc-ion-input-md-h,
.input-label-placement-stacked.sc-ion-input-md-h {
  height: 56px;
}

.input-bottom.sc-ion-input-md .helper-text.sc-ion-input-md {
  font-size: 11px;
  color: var(--ion-color-secondary);
}

.label-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
  transform: translateY(40%) scale(0.75);
}

.label-text.sc-ion-input-md,
.sc-ion-input-md-s>[slot=label] {
  color: var(--ion-color-step-700);
  font-weight: 500;
  font-size: 15px;
}

.sn-notifications-container {
  padding-bottom: calc(82px + var(--ion-safe-area-bottom));
}

.personal-expense-header .input-wrapper.sc-ion-input-md input.sc-ion-input-md {
  font-size: 15px;
}

.ion-activatable {
  transition: transform 0.15s;
}

.ion-activatable:active,
.ion-activated {
  transform: scale(.98);
}

.sn-notify-outline {
  --sn-notify-background-color: var(--ion-background-color);
}

.sn-notify-outline .sn-notify-title {
  --sn-notify-title-color: var(--ion-text-color);
}