:root {
  --keyboard-height: 0px;
  --ion-safe-area-keyboard: max(var(--ion-safe-area-bottom), var(--keyboard-height));
  --ion-font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  /* --vh: 100%; */
  --ion-color-primary: #407EFF;
  --ion-color-secondary: #7D8A9F;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  --yellow: #bc47ff;
  --red: #f65353;
  --swiper-pagination-bullet-inactive-color: #808080;
  --swiper-pagination-bullet-inactive-opacity: 1;

  /* Light theme */
  --ion-background-color: #fff;
  --ion-background-color2: #F1F2F4;
  --ion-background-color-gradient: linear-gradient(to top, #fff 0%, #fff calc(100% - 20px), transparent 100%);
  --ion-background-color-rgb: 255, 255, 255;
  --ion-background-color2-rgb: 241, 242, 244;
  --ion-text-color: #171717;
  --ion-text-on-color: #fff;
  --ion-text-color-rgb: 0, 0, 0;
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #1a1a1a;
  --ion-color-step-950: #0d0d0d;

  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-card-background2: #F1F2F466;
  --ion-toolbar-background: #ffffff;

  --skeleton-base-color: #eaeaea;
  --skeleton-hilight-color: #f3f3f3;

  --custom-border-color-0: #f2f2f2;
  --custom-border-color-50: #f2f2f2;
  --custom-border-color-100: #E8E8E8;
  --custom-border-color-150: #dcdcdc;

  --approval-text-color: #fff;
  --approval-text-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --disabled-bg-color: #e4e4e4;
  --disabled-fg-color: #767676;
  --grab-indicator-color: #F7F7F7;
  --input-color: #fafafa;
  --gray-color: #C1C1C1;
  --check-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20 6L9 17L4 12" stroke="%23C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  --logo: url('/src/assets/images/app_logo_dark.webp');
}

[data-theme="dark"] {
  /* Dark theme */
  --ion-background-color: #1C1E22;
  --ion-background-color2: #111214;
  --ion-background-color-gradient: linear-gradient(to top, #fff 0%, #1C1E22 calc(100% - 20px), transparent 100%);
  --ion-background-color-rgb: 28, 30, 34;
  --ion-background-color2-rgb: 17, 18, 20;
  --ion-text-color: #ffffff;
  --ion-text-on-color: #121212;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-color-light: #31353a;

  --ion-item-background: #1C1E22;
  --ion-card-background: #1C1E22;
  --ion-card-background2: #11121466;
  --ion-toolbar-background: #1C1E22;

  --skeleton-base-color: #2d2d2d;
  --skeleton-hilight-color: #414141;

  --custom-border-color-0: #19191a;
  --custom-border-color-50: #242526;
  --custom-border-color-100: #2E3238;
  --custom-border-color-150: #35393f;

  --approval-text-color: #2E3238;
  --approval-text-box-shadow: none;
  --disabled-bg-color: #292929;
  --disabled-fg-color: #646464;
  --grab-indicator-color: #2C2E35;
  --input-color: #222327;
  --gray-color: #646870;
  --check-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path d="M20 6L9 17L4 12" stroke="%23646870" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  --logo: url('/src/assets/images/app_logo_light.webp');
}

.loading-indicator-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}